html {
  width: 100%;
  background-color: #0F172A;
  height: auto;
}

body {
  width: auto;
  height: auto;
  background-color: #0F172A !important;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF !important;
  overflow-x: hidden;
}

svg {
  padding: 0 !important;
}

a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}

a#resume {
  text-decoration: underline !important;
  color: cyan !important;
}

li.d-inline-block {
  margin: 0.1rem 0.25rem 0.1rem 0.25rem;
  padding: 0.1rem 0.5rem;
  background-color: rgba(100, 116, 139, 0.72);
  color: #F1F5F9;
  border-radius: 8px;
  font-size: medium;
}

li.d-inline-block:hover {
  background-color: pink;
  color: black;
}

#clock, #date {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  background-color: cornflowerblue;
  border-radius: 2rem;
  font-weight: bold;
  padding: 5px 10px;
}

#github {
  background-color: rgb(177, 177, 177);
  padding: 8px 25px;
  border-radius: 40px;
  border: 3px solid black;
  color: black;
  font-weight: bold;
}

#linkedin {
  background-color: rgb(189, 220, 255);
  padding: 8px 25px;
  border-radius: 40px;
  border: 3px solid rgb(0, 114, 220);;
  font-weight: bold;
}  

.text-justify {
  text-align: justify !important;
}

.image-container {
  width: 300px; /* Or whatever width you want */
  height: 300px; /* Or whatever height you want */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: 5px solid #FFFFFF; */
}

.box {
  border: 5px solid #0000;
  border-radius: 50%; 
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
    var(--angle),
    #070707,
    #687aff,
    #e600ff
  ) border-box;
  animation: 8s rotate linear infinite;
} 
  
@keyframes rotate {
    to {
    --angle: 360deg;
    }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.image-container img:hover, #github:hover, #linkedin:hover {
  scale: 1.075;
  box-shadow: white 0px 0px 10px 5px;
}

.bold-line {
  border: 0;
  height: 2px;
  background: white;
}

.gradient-div-pink {
  width: 50%;
  height: 50%;
  position: absolute;
  background: conic-gradient(from 10deg, #FE79B9 0deg, #AD00FF 150deg, #2489FF 360deg);
  filter: blur(250px);
  top: -50%;
  left: -250px;
}

.gradient-div-blue {
  width: 50%;
  height: 50%;
  position: absolute;
  background: conic-gradient(from 10deg, #ADD8E6 0deg, #0000FF 150deg, #09fe2e 360deg);
  filter: blur(200px);
  top: -50%;
  right: -250px;
}

.gradient-div-yellow {
  width: 50%;
  height: 50%;
  position: absolute;
  background: conic-gradient(from 10deg, #ffe65b 0deg, #57ffdd 180deg, #09fe2e 360deg);
  filter: blur(500px);
  bottom: -750px;
  left: -900px;
}

.gradient-div-purple {
  width: 50%;
  height: 50%;
  position: absolute;
  background: conic-gradient(from 10deg, #ff82cf 0deg, #3700ff 180deg, #ff2672 360deg);
  filter: blur(500px);
  top: 1200px;
  right: -800px;
}

.gradient-div-orange {
  width: 20%;
  height: 20%;
  position: absolute;
  background: conic-gradient(from 10deg, #ff3737 0deg, #814700 180deg, #ff5500 360deg);
  filter: blur(200px);
  bottom: -1500px;
  right: -100px;

}

.grey-font {
  color: #dde2e9 !important;
}

/* Icons */
.clock {
  background-image: url('./public/time.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6%;
  height: 70%;
  filter: invert(1);
}

.calendar {
  background-image: url('./public/calendar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 60%;
}

.education {
  background-image: url('./public/education.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 100%;
}

.skills {
  background-image: url('./public/skills.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 100%;
}

.experience {
  background-image: url('./public/experience.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 100%;
}

.projects {
  background-image: url('./public/projects.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 100%;
}

.certificates {
  background-image: url('./public/certificates.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  height: 100%;
}

.test-score {
  background-image: url('./public/test-score.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.phone {
  background-image: url('./public/phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.fs-small {
  font-size: 0.8rem;
}

.blue {
  color: rgb(0, 114, 220) !important;
}

.black {
  color: black !important;
}

/* Media query */
@media (max-width: 991px) {
  h2 {
    font-size: 1.15rem !important;
    margin: 0 !important;
  }

  h4 {
    font-size: 1rem !important;
    margin: 0 !important;
  }

  h6, .fs-sm-8 {
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  .display-4 {
    font-size: 2rem !important;
    margin: 0 !important;
  }

  div.fs-5 {
    font-size: 1rem !important;
    margin: 0 !important;
  }

  li.d-inline-block {
    font-size: small !important;
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .gradient-div-pink, .gradient-div-blue, .gradient-div-yellow, .gradient-div-purple, .gradient-div-orange {
    all: initial !important;
  }

  h2 {
    font-size: 1.05rem !important;
    margin: 0 !important;
  }


  h4 {
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  h6, .fs-sm-8 {
    font-size: 0.6rem !important;
    margin: 0 !important;
  }

  .display-4 {
    font-size: 1.75rem !important;
    margin: 0 !important;
  }

  div.fs-5 {
    font-size: 0.8rem !important;
    margin: 0 !important;
  }

  li.d-inline-block {
    font-size: 0.6rem !important;
    margin: 0 !important;
  }
}